In [1]:
import pandas as pd
import numpy as np

In [2]:
patients = pd.read_csv('../Case Files/sample_date_csv/patients.csv')
print('Total shape : ',patients.shape)
patients.info()

Total shape :  (1171, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1171 entries, 0 to 1170
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   1171 non-null   object
 1   BIRTHDATE            1171 non-null   object
 2   DEATHDATE            171 non-null    object
 3   SSN                  1171 non-null   object
 4   DRIVERS              958 non-null    object
 5   PASSPORT             898 non-null    object
 6   PREFIX               927 non-null    object
 7   FIRST                1171 non-null   object
 8   LAST                 1171 non-null   object
 9   SUFFIX               12 non-null     object
 10  MAIDEN               331 non-null    object
 11  MARITAL              791 non-null    object
 12  RACE                 1171 non-null   object
 13  ETHNICITY            1171 non-null   object
 14  GENDER               1171 non-null   object
 15  BIRTHPLACE           1171 non-null   object
 16  ADDRESS              1171 non-null   object
 17  CITY                 1171 non-null   object
 18  STATE                1171 non-null   object
 19  COUNTY               1171 non-null   object
 20  ZIP                  628 non-null    float64
 21  LAT                  1171 non-null   float64
 22  LON                  1171 non-null   float64
 23  HEALTHCARE_EXPENSES  1171 non-null   float64
 24  HEALTHCARE_COVERAGE  1171 non-null   float64
dtypes: float64(5), object(20)
memory usage: 228.8+ KB

In [3]:
# Droping unnecessary columns
patients.drop(['DEATHDATE','DRIVERS','PASSPORT','PREFIX','SUFFIX','MAIDEN','MARITAL','COUNTY','ZIP','LAT','LON'],axis = 1,inplace = True)
patients.head()

,Id,BIRTHDATE,SSN,FIRST,LAST,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,999-76-6866,José Eduardo181,Gómez206,white,hispanic,M,Marigot Saint Andrew Parish DM,427 Balistreri Way Unit 19,Chicopee,Massachusetts,271227.08,1334.88
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,999-73-5361,Milo271,Feil794,white,nonhispanic,M,Danvers Massachusetts US,422 Farrell Path Unit 69,Somerville,Massachusetts,793946.01,3204.49
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,999-27-3385,Jayson808,Fadel536,white,nonhispanic,M,Springfield Massachusetts US,1056 Harris Lane Suite 70,Chicopee,Massachusetts,574111.90,2606.40
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,999-85-4926,Mariana775,Rutherford999,white,nonhispanic,F,Yarmouth Massachusetts US,999 Kuhn Forge,Lowell,Massachusetts,935630.30,8756.19
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,999-60-7372,Gregorio366,Auer97,white,nonhispanic,M,Patras Achaea GR,1050 Lindgren Extension Apt 38,Boston,Massachusetts,598763.07,3772.20

In [4]:
isadherent = pd.read_csv('../myCSV/isadherent.csv')
isadherent.rename(columns = {'PATIENT':'Id'}, inplace = True)
isadherent.head()

                                     Id  isadherent
0  00185faa-2760-4218-9bf5-db301acf8274           0
1  0042862c-9889-4a2e-b782-fac1e540ecb4           1
2  0047123f-12e7-486c-82df-53b3a450e365           0
3  010d4a3a-2316-45ed-ae15-16f01c611674           0
4  0149d553-f571-4e99-867e-fcb9625d07c2           0

In [6]:
df = (pd.merge(patients, isadherent, how = 'outer'))

,Id,BIRTHDATE,SSN,FIRST,LAST,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,isadherent
7,01207ecd-9dff-4754-8887-4652eda231e2,2019-05-15,999-81-4349,Karyn217,Mueller846,white,nonhispanic,F,New Bedford Massachusetts US,570 Abshire Forge Suite 32,Colrain,Massachusetts,26400.00,774.96,NaN
36,f592e861-6e2e-46bc-a19d-5485fcbf0d80,2018-07-19,999-65-5107,Dorothea248,Ward668,white,nonhispanic,F,New Bedford Massachusetts US,1079 Kuhn Orchard,Lowell,Massachusetts,39600.00,1033.28,NaN
57,b44d4f15-d604-4e24-8114-dc0dc12651d2,2020-02-13,999-72-2409,Leslee214,Schumm995,white,nonhispanic,F,Springfield Massachusetts US,756 Donnelly Mews,Boston,Massachusetts,6300.00,258.32,NaN
98,d3f08bb8-e79f-4529-a37a-8aebdfbffe6a,2020-03-22,999-65-9391,Manuela585,Lozada73,white,hispanic,F,La Paz Baja California MX,570 Gislason Row Suite 32,Boston,Massachusetts,5400.00,258.32,NaN
146,ef014976-f099-45b9-b9a8-dc3497690e47,2018-03-20,999-73-8591,Shandra823,Beatty507,white,nonhispanic,F,Newburyport Massachusetts US,449 Cremin Estate Apt 20,Burlington,Massachusetts,56700.00,1162.44,NaN
154,8a999529-683a-4d3a-b256-ce5476e32af5,2006-03-07,999-62-4189,Joycelyn213,Abernathy524,white,nonhispanic,F,Cambridge Massachusetts US,182 Trantow Mission Unit 20,Bellingham,Massachusetts,374129.16,2970.68,NaN
162,6e852965-91fe-4940-bbf7-93d20ef25bda,2018-07-13,999-48-6634,Eusebio566,Beier427,white,nonhispanic,M,Holbrook Massachusetts US,788 Homenick Row Apt 98,Medford,Massachusetts,50600.00,1033.28,NaN
201,194aca62-c623-4ba8-a7ca-bb77f17736f5,2019-03-30,999-63-6584,Simonne139,Douglas31,asian,nonhispanic,F,Weymouth Massachusetts US,548 Gleason Divide Apt 98,Longmeadow,Massachusetts,3500.00,774.96,NaN
213,a6fd8d21-189a-4488-8ebd-8cf6173fc5fc,2018-07-25,999-12-6852,Tanisha724,Ward668,white,nonhispanic,F,Georgetown Massachusetts US,725 Hilpert Plaza,Salem,Massachusetts,5250.00,1033.28,NaN
313,431971f5-a39f-44f8-9ef9-10502db973c9,2002-02-17,999-43-3457,Heide509,Walsh511,white,nonhispanic,F,Ware Massachusetts US,849 Hahn Key Unit 41,Lynn,Massachusetts,4682.14,0.00,NaN
430,293afb6b-b727-445a-a5b5-1c7a419ba7e2,2019-05-25,999-90-8425,Sun500,Conroy74,white,nonhispanic,F,Amherst Massachusetts US,800 Murazik Esplanade Apt 94,Chicopee,Massachusetts,3000.00,645.80,NaN
499,2fa0c2b3-48c0-4fd4-b9f3-d6bfe033b175,2018-09-29,999-13-8342,Fredric73,Douglas31,white,nonhispanic,M,West Springfield Massachusetts US,370 Grant Park,Somerset,Massachusetts,44000.00,1033.28,NaN
528,ef544417-a448-4c9d-8ddf-cb7fb513061d,2019-10-16,999-30-9476,Shaniqua618,Mertz280,white,nonhispanic,F,Mattapoisett Massachusetts US,384 Parisian Manor Apt 10,Barnstable,Massachusetts,14700.00,516.64,NaN
612,64c260d6-c09b-4280-ab86-0410f555e1f4,1991-09-12,999-68-9300,Collin529,Beatty507,asian,nonhispanic,M,Attleboro Massachusetts US,563 Quigley Branch,Worcester,Massachusetts,4569.41,0.00,NaN
678,c8c1bcb3-f787-4d53-9e3f-8fc59740daa3,2017-08-18,999-99-4105,Leo278,Senger904,asian,nonhispanic,F,Norton Massachusetts US,168 Ortiz Viaduct,Maynard,Massachusetts,61200.00,1291.60,NaN
773,76811a9f-dd57-4949-9377-5c164d58665d,2020-03-04,999-86-4346,Yu876,Herzog843,white,nonhispanic,F,North Attleborough Massachusetts US,727 Koelpin Well,Waltham,Massachusetts,4400.00,258.32,NaN
849,a2aa6863-6e21-4b0a-b46c-40a6c0205a10,2019-06-13,999-94-6886,Terrence276,Graham902,white,nonhispanic,M,Whitman Massachusetts US,938 Rempel Burg,Boston,Massachusetts,20000.00,645.80,NaN
987,c038adf1-91e4-4d05-a7ce-ba039b0259b4,2019-07-21,999-83-4408,Claude750,Russel238,white,nonhispanic,M,Lawrence Massachusetts US,1093 Jast Trail Suite 33,Taunton,Massachusetts,22000.00,645.80,NaN
1157,d9988dce-ec05-4138-8f04-b0c77473a260,2017-09-13,999-10-8228,Dan465,Walker122,white,nonhispanic,M,Monson Massachusetts US,858 Prosacco Boulevard Apt 79,Millbury,Massachusetts,67200.00,1291.60,NaN