In [1]:
import pandas as pd
import numpy as np

In [4]:
patients = pd.read_csv('./Case Files/sample_date_csv/patients.csv')
print('Total shape : ',patients.shape)
patients.info()

Total shape :  (1171, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1171 entries, 0 to 1170
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   1171 non-null   object
 1   BIRTHDATE            1171 non-null   object
 2   DEATHDATE            171 non-null    object
 3   SSN                  1171 non-null   object
 4   DRIVERS              958 non-null    object
 5   PASSPORT             898 non-null    object
 6   PREFIX               927 non-null    object
 7   FIRST                1171 non-null   object
 8   LAST                 1171 non-null   object
 9   SUFFIX               12 non-null     object
 10  MAIDEN               331 non-null    object
 11  MARITAL              791 non-null    object
 12  RACE                 1171 non-null   object
 13  ETHNICITY            1171 non-null   object
 14  GENDER               1171 non-null   object
 15  BIRTHPLACE           1171 non-null   object
 16  ADDRESS              1171 non-null   object
 17  CITY                 1171 non-null   object
 18  STATE                1171 non-null   object
 19  COUNTY               1171 non-null   object
 20  ZIP                  628 non-null    float64
 21  LAT                  1171 non-null   float64
 22  LON                  1171 non-null   float64
 23  HEALTHCARE_EXPENSES  1171 non-null   float64
 24  HEALTHCARE_COVERAGE  1171 non-null   float64
dtypes: float64(5), object(20)
memory usage: 228.8+ KB

In [6]:
# Droping unnecessary columns
patients.drop(['DEATHDATE','DRIVERS','PASSPORT','PREFIX','SUFFIX','MAIDEN','MARITAL','COUNTY','ZIP','LAT','LON'],axis = 1,inplace = True)
patients.head()

,Id,BIRTHDATE,SSN,FIRST,LAST,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,999-76-6866,José Eduardo181,Gómez206,white,hispanic,M,Marigot Saint Andrew Parish DM,427 Balistreri Way Unit 19,Chicopee,Massachusetts,271227.08,1334.88
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,999-73-5361,Milo271,Feil794,white,nonhispanic,M,Danvers Massachusetts US,422 Farrell Path Unit 69,Somerville,Massachusetts,793946.01,3204.49
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,999-27-3385,Jayson808,Fadel536,white,nonhispanic,M,Springfield Massachusetts US,1056 Harris Lane Suite 70,Chicopee,Massachusetts,574111.90,2606.40
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,999-85-4926,Mariana775,Rutherford999,white,nonhispanic,F,Yarmouth Massachusetts US,999 Kuhn Forge,Lowell,Massachusetts,935630.30,8756.19
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,999-60-7372,Gregorio366,Auer97,white,nonhispanic,M,Patras Achaea GR,1050 Lindgren Extension Apt 38,Boston,Massachusetts,598763.07,3772.20

In [8]:
isadherent = pd.read_csv('isadherent.csv')
isadherent.rename(columns = {'PATIENT':'Id'}, inplace = True)
isadherent.head()

                                     Id  isadherent
0  00185faa-2760-4218-9bf5-db301acf8274           0
1  0042862c-9889-4a2e-b782-fac1e540ecb4           1
2  0047123f-12e7-486c-82df-53b3a450e365           0
3  010d4a3a-2316-45ed-ae15-16f01c611674           0
4  0149d553-f571-4e99-867e-fcb9625d07c2           0

In [10]:
df = (pd.merge(patients, isadherent, on='Id'))
df.head()

,Id,BIRTHDATE,SSN,FIRST,LAST,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,isadherent
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,999-76-6866,José Eduardo181,Gómez206,white,hispanic,M,Marigot Saint Andrew Parish DM,427 Balistreri Way Unit 19,Chicopee,Massachusetts,271227.08,1334.88,0
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,999-73-5361,Milo271,Feil794,white,nonhispanic,M,Danvers Massachusetts US,422 Farrell Path Unit 69,Somerville,Massachusetts,793946.01,3204.49,1
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,999-27-3385,Jayson808,Fadel536,white,nonhispanic,M,Springfield Massachusetts US,1056 Harris Lane Suite 70,Chicopee,Massachusetts,574111.90,2606.40,1
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,999-85-4926,Mariana775,Rutherford999,white,nonhispanic,F,Yarmouth Massachusetts US,999 Kuhn Forge,Lowell,Massachusetts,935630.30,8756.19,1
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,999-60-7372,Gregorio366,Auer97,white,nonhispanic,M,Patras Achaea GR,1050 Lindgren Extension Apt 38,Boston,Massachusetts,598763.07,3772.20,1

In [ ]:
df.isnull().sum()

In [11]:
df.to_csv('../myCSV/patients_with_isadherence.csv',index=False)